<div class="container">
       <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Главная</a></li>
            <li role="presentation" class="active"><a href="/party">Список пати</a></li>
            <li role="presentation"><a href="/out">Выйти</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Dota2</h3>
      </div>

      <div class="jumbotron">
        <h1>Пати лист</h1>
        <p><a class="btn btn-lg btn-success" href="/create_party">Создать</a></p>
        <br/>
        <% @party.each do | p | %>
           <a class="btn btn-lg btn-success party-join" href="/join_party/<%= p.id %>" data-toggle="popover" data-html="true" title="Участники" data-content="
            <% p.users.each do | user | %>
             <% 
                  @mmrp = (User.find(user).dota["gameAccountClient"]["competitiveRank"].blank?) ? 0 : User.find(user).dota["gameAccountClient"]["competitiveRank"] 
                  @mmrs = (User.find(user).dota["gameAccountClient"]["soloCompetitiveRank"].blank?) ? 0 : User.find(user).dota["gameAccountClient"]["soloCompetitiveRank"]
                  @lowpriority = (User.find(user).dota["gameAccountClient"]["lowPriorityGamesRemaining"] == 0) ? "NO" : "YES"
              %>    
              <%= User.find(user).dota["playerName"] %> ( MMRp <%= @mmrp %>; MMRs <%= @mmrs %>; lowP <%= @lowpriority %>)
              <% if p.users.last == user %>
                .
              <% else %>
                ,
              <% end %>
              <br/>
            <% end %>
           " >[ <%= User.find(p.create_user).dota["playerName"] %> ] <%= p.users.length %> из 5 </a><br/><br/>
        <% end %>
		  </div>
</div> <!-- /container -->

<script type="text/javascript">
  $(document).ready(function(){
    $('.party-join').hover(function(){
      $(this).popover('show');
    }, function(){
      $(this).popover('hide');
    })
  });

</script>