<div class="container">
       <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Главная</a></li>
            <li role="presentation"><a href="/party">Список пати</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Dota2</h3>
      </div>

      <div class="jumbotron">
        <h1>Участники</h1>
        <p><a class="btn btn-lg btn-success" href="/leave_party/<%= @party.id %>">Покинуть</a></p>
        <% if @party.create_user == session[:current_user] %>
          <p><a class="btn btn-lg btn-success" href="/send_invite_to_party/<%= @party.id %>">Выслать инвайт</a></p>
        <% end %>
        <% host = User.find(@party.create_user) %>
          <!--div class="media">
            <div class="media-left media-middle">
              <a href="http://steamcommunity.com/profiles/<%= host.steamid %>" target="_blank">
                <img class="media-object" src="<%= host.avatar %>" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= host.dota["playerName"] %></h4>
            </div>
          </div-->
          <div id="users">
            Загрузка....
          </div>       
		  </div>
      <div class="jumbotron">
        <p>
          <div id="chat" style="overflow-y: scroll; height: 400px;">
          </div>
          <div class="form-inline" style="position:relative; bottom: 0px;">
            <input class="form-control" style="width:75%" type="text" id="new_message"><button type="button" style="margin-left:10px;" class="btn-primary btn-sm">Отправить</button>
          </div>
        </p>    
      </div>


</div> <!-- /container -->

<script type="text/javascript">
  var dispatcher = new WebSocketRails(location.host+':3000/websocket');
dispatcher.on_open = function(data) {
  console.log('Connection has been established: ', data);
  // You can trigger new server events inside this callback if you wish.
}
var channel = dispatcher.subscribe('party_<%= @party.id %>');
$('button').click(function(){
  channel.trigger('new_message', {user: '<%= User.find(session[:current_user])["dota"]["playerName"] %>', message: $('#new_message').val()});
  $('#new_message').val('');
});
$('input').keyup(function(e){
    if(e.keyCode == 13)
    {
        $('button').trigger("click");
    }
});
channel.bind('new_message', function (data){
  $('#chat').append('<div style="clear:both"><div style="float:left"><span class="label label-default">'+data.user + '</span></div><div style="float:left; margin-left: 10px;">'+ data.message +"</div></div>");
  $('#chat').scrollTop($('#chat').height() + 1000);
});
channel.bind('client_connected', function (data){
  console.log(data);
});
var template = '<div class="media">' +
            '<div class="media-left media-middle">' +
              '<a href="http://steamcommunity.com/profiles/%steamid%" target="_blank">' +
                '<img class="media-object" src="%avatar%" alt="...">' +
              '</a>' +
            '</div>' +
            '<div class="media-body">' +
              '<h4 class="media-heading">%playerName%</h4>' +
              'MMRp: %competitiveRank%,' + ' MMRs: %soloCompetitiveRank%,'+ ' lowPriority: %lowPriorityGamesRemaining%'+
              '%template_kick_link%' +
            '</div>' +
            '</div>';
var template_kick_link = '<% if @party.create_user == session[:current_user]%>' +
                          '<a style="float:right;" href="/leave_party/<%= @party.id %>/%userId%"><span class="label label-danger">Кикнуть</span></a><br/>' +
                         '<% end %>';
setInterval(function(){
  $.getJSON( "/get_party_users/<%= @party.id %>", function( data ) {
    $("#users").html(" ");
    users_in_party = [];
    for(var i = 0; i < data.length; i++){
      users_in_party.push(data[i].id);
      try{
        if("<%= @party.create_user %>" == data[i].id)
          $("#users").append(template
                    .replace('%avatar%',data[i].avatar)
                    .replace('%playerName%',data[i].dota.playerName)
                    .replace('%steamid%', data[i].steamid)
                    .replace('%soloCompetitiveRank%', (data[i].dota.gameAccountClient.soloCompetitiveRank == undefined ? "Неопределен" : data[i].dota.gameAccountClient.soloCompetitiveRank))
                    .replace('%competitiveRank%', (data[i].dota.gameAccountClient.competitiveRank == undefined ? "Неопределен" : data[i].dota.gameAccountClient.competitiveRank))
                    .replace('%lowPriorityGamesRemaining%', (data[i].dota.gameAccountClient.lowPriorityGamesRemaining == 0 ? "NO" : "YES"))
                    .replace('%template_kick_link%', ' ')
          );
        else
          $("#users").append(template
                    .replace('%avatar%',data[i].avatar)
                    .replace('%playerName%',data[i].dota.playerName)
                    .replace('%steamid%', data[i].steamid)
                    .replace('%soloCompetitiveRank%', (data[i].dota.gameAccountClient.soloCompetitiveRank == undefined ? "Неопределен" : data[i].dota.gameAccountClient.soloCompetitiveRank))
                    .replace('%competitiveRank%', (data[i].dota.gameAccountClient.competitiveRank == undefined ? "Неопределен" : data[i].dota.gameAccountClient.competitiveRank))
                    .replace('%lowPriorityGamesRemaining%', (data[i].dota.gameAccountClient.lowPriorityGamesRemaining == 0 ? "NO" : "YES"))
                    .replace('%template_kick_link%', template_kick_link.replace('%userId%', data[i].id))
          );
      }catch(e){

      }

    }
    if(users_in_party.indexOf(<%= session[:current_user] %>) == -1){
      alert("Вас кикнули");
      location.href = "/party";
    }
  });
}, 1000);
</script>
