<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steam</title>
	  <%= stylesheet_link_tag    'application', media: 'all'%>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
  </head>

  <body>

  <%= yield %>
  <footer class="footer">
      <div class="container">
        <a href="https://vk.com/club95382407">ВКонтакте</a>
      </div>
    </footer>
  </body>
</html>