<div class="container">
<%= flash[:message] %>
<br/>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Dota2</h3>
      </div>

      <div class="jumbotron">
        <h1>Бот еще не добавил вас в друзья</h1>
		</div>

    </div> <!-- /container -->
