<div class="container">
<%= flash[:message] %>
<br/>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Главная</a></li>
          <li role="presentation"><a href="/party">Список пати</a></li>
            <% unless @user.nil? %>
              <li role="presentation"><a href="/out">Выйти</a></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted">Dota2</h3>
      </div>

      <div class="jumbotron">
        <h1></h1>
        
        <% unless @user.nil? %>
		  <p>Вы вошли как,  <%= @user.nickname %><br/></p>
      <% if @user.dota.nil? %>
  		  <p><a class="btn btn-lg btn-success" href="/send_invite"> Добавить в друзья</a></p>
          Чтобы все работало как надо добавьте бота в друзья и откройте профиль в доте<br/>
      <% end %>
		  <p><a class="btn btn-lg btn-success" href="/party"> Список пати</a></p>
        Ищите пати в списке или создавайте свою<br/>
		<% else %>
		  <p><a class="btn btn-lg btn-success" href="/auth/steam/">Авторизируйтесь через steam</a></p>
		<% end %>
		</div>

    </div> <!-- /container -->
