<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Name</th>
      <th>Location</th>
      <th>Avatar</th>
      <th>Profile url</th>
      <th>Steamid</th>
      <th>Steamid3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.name %></td>
        <td><%= user.location %></td>
        <td><img src="<%= user.avatar %>"></td>
        <td><%= user.profile_url %></td>
        <td><%= user.steamid %></td>
        <td><%= user.steamid3 %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
