<h1>Listing balances</h1>

<table>
  <thead>
    <tr>
      <th>Port</th>
      <!--th>Login</th>
      <th>Password</th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balances.each_with_index do |balance, index| %>
      <tr>
        <td><%= balance.port %></td>
        <!--td><%= balance.login %></td>
        <td><%= balance.password %></td-->
        <td><%= (get_status(balance.port)) ? "Доступен" : "Не доступен" %></td>
        <td><%= link_to 'Show', balance %></td>
        <td><%= link_to 'Edit', edit_balance_path(balance) %></td>
        <td><%= link_to 'Destroy', balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Balance', new_balance_path %>
