<p id="notice"><%= notice %></p>

<p>
  <strong>Port:</strong>
  <%= @balance.port %>
</p>

<p>
  <strong>Login:</strong>
  <%= @balance.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @balance.password %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Back', balances_path %>
